html,
body {
  width: 500px;
  height: 500px;
}

.hidden {
  display: none;
}

button {
  border-radius: 4px;
  width: 90%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: small;
  color: white;
  cursor: pointer;
  background-color: gray;
}

button:hover {
  background-color: lightgray;
  color: black
}
