html,
body {
  width: 500px;
  height: 500px;
  div {
  	font: "SF Pro Text", sans-serif;
  }
}

.hidden {
  display: none;
}

button {
  border-radius: 4px;
  padding: 4px, 16px;
  text-align: center;
  font: "SF Pro Text", sans-serif;
  font-size: 13px;
  line-height: 18.2px;
  color: #FBFBFE;
  cursor: pointer;
  background-color: #0060DF;
}

button:hover {
  border-radius: 4px;
  padding: 4px, 16px;
  text-align: center;
  font: "SF Pro Text", sans-serif;
  font-size: 13px;
  line-height: 18.2px;
  color: #FBFBFE;
  cursor: pointer;
  background-color: #0058cc;
}

button:active {
  border-radius: 4px;
  padding: 4px, 16px;
  text-align: center;
  font: "SF Pro Text", sans-serif;
  font-size: 13px;
  line-height: 18.2px;
  color: #FBFBFE;
  cursor: pointer;
  background-color: #004db3;
}


